Package: quicktun
Version: %VERSION%
Section: net
Priority: optional
Architecture: %ARCHITECTURE%
Depends: bash, daemon, iproute2 (>= 20100519-3) | openvpn, passwd, coreutils
Maintainer: Ivo Smits <ivo@ucis.nl>
Description: Very simple, yet secure VPN software
